<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Login_Crud.Properties.Settings.db_221256ConnectionString"
            connectionString="Data Source=DARNASSUS\MOTORHEAD;Initial Catalog=db_221256;User ID=221256;Password=14112005Art"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>